.note {
  display: flex;
  margin: 10px;
}

.note__wrapp {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid blue;
  padding: 5px;
}

.note__inputfield {
  width: 100%;
  font-size: 18px;
  margin-bottom: 5px;
}
.note__span {
  font-size: inherit;
}
.note__input {
  font-size: inherit;
  width: 100%;
  border: 1px solid blue;
}
.note__teg {
  display: inline-block;
  font-size: 10px;
}
.note__btn {
  background-color: #8A2BE2;
  border-radius: 5px;
  padding: 2px;
  color: azure;
  margin-left: 10px;
  cursor: pointer;
}

.formNote {
  display: flex;
  margin: 20px 0 10px 10px;
}

.form-input {
  border: 1px solid #8A2BE2;
  font-size: 18px;
}

.btn-form {
  width: 24px;
  height: 24px;
  background-color: #8A2BE2;
  border-radius: 5px;
  margin-left: 10px;
  color: azure;
  cursor: pointer;
}

.search-input {
  display: inline-block;
  margin-left: 10px;
}