.note {
  display: flex;
  margin: 10px;
  border: 1px solid #8A2BE2;
}

.note__inputfield {
  width: 100%;
  font-size: 18px;
}
.note__span {
  font-size: inherit;
}
.note__input {
  font-size: inherit;
  width: 100%;
  padding: 0 10px;
}
.formNote {
  display: flex;
  margin: 20px 0 10px 10px;
  
}
.form-input {
  border: 1px solid #8A2BE2;
  font-size: 18px;
}
.btn-form {
  width: 24px;
  height: 24px;
  background-color: #8A2BE2;
  border-radius: 5px;
  margin-left: 10px;
  color: azure;
  cursor: pointer;
}
.search-input {
  display: inline-block;
  margin-left: 10px;
}